canvas {
    border: 4px solid;
    display: inline-block;
}

.title {
    font-size: 40px;
    display: inline;
}

#frame_counter {
    font-size: 20px;
    display: inline;
    float: right;
}

.head {
    width: 960px;
    /* margin-bottom: -30px; */
}

.body {
    display: flex;
    width: 960px;
}

.resbox {
    margin-left: 4px;
    display: flex;
    width: 960px;
    flex-direction: column;
}

.opt {
    flex: auto;
    margin: 4px 1px;
    border: 4px solid;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

h3 {
    margin: 0;
}

a {
    color: cornflowerblue;
}

p {
    margin-bottom: 0;
}